[Unit]
Description=Ransomware Service
After=flowmeter.service

[Service]
ExecStart=/usr/bin/ransomware-predictor
Restart=always

[Install]
WantedBy=multi-user.target